<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" 
    th:replace="~{normal/base::layout(~{::section})}">
<head>
	<title>Contacts Page</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
</head>
<body>
	<section>
		<div class="card">
			<div class="card-body">
                <h1 class="text-center">Add Contacts</h1>
                
                <div class="container-fluid mt-1">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">

                            <form action=""
                                th:object="${contact}"
                                enctype="multipart/form-data"
                                method="post"
                                th:action="@{/user/process-contact}"
                                class="mt-2"
                            >

                            <!-- First Name field -->
                           

                           <div class="form-floating mb-3">
							    <i class="icon fa fa-user-alt"></i>
							   <input required type="text" class="form-control" id="floatingName" name="firstName" placeholder="Name">
							   <label for="floatingName">Name</label>
							   
						   </div>
						   
						   <div class="form-floating mb-3">
							   <i class="icon fas fa-user-alt"></i>
							   <input type="text" class="form-control" id="floatingLastName" name="lastName" placeholder="Nick Name">
							   <label for="floatingLastName">Nick Name</label>
							   
						   </div>
						   
						    <div class="form-floating mb-3">
								<i class="icon fa fa-phone"></i>
							   <input  type="text" class="form-control" id="floatingPhone" name="phone" placeholder="Phone">
							   <label for="floatingPhone">Phone</label>
							   
						   </div>
						   
						    <div class="form-floating mb-3">
								 <i class="icon fa fa-at"></i>
							   <input required type="email" class="form-control" id="floatingEmail" name="email" placeholder="Email">
							   <label for="floatingEmail">Email</label>
							   
						   </div>
						   
						   <div class="form-floating mb-3">
							   <i class="icon fa fa-briefcase"></i>
							   <input required type="text" class="form-control" id="floatingWork" name="work" placeholder="Enter Your Work">
							   <label for="floatingWork">Enter Your Work</label>
							   
						   </div>
						   
						   <div class="textarea mb-3">
							   <textarea id="mytextarea" class="form-control" placeholder="Enter Contact Description" name="description"  rows="10"></textarea>
							   
							   
						   </div>
						   
						  <!-- <div class="custom-file">
							   <input type="file" name="imageFile" class="form-control-file">
						   </div>-->
						   
						   
						   <div class="container text-center">
							   <button  class="btn btn-outline-primary">Save Contact</button>
							   
						   </div>

                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
		</div>
		<script src="https://cdn.tiny.cloud/1/45kdh41qq8s2vr6iqd1w6psyowu4339lqtysi4etmdfzymb1/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
	<script>
      tinymce.init({
        selector: '#mytextarea'
      });
    </script>
    
    <script>
			
			$(document).ready(()=>{
				$(".item").removeClass("active");
				$("#add-link").addClass("active");
			})
		</script>
    
	</section>
	<script src="https://kit.fontawesome.com/515dea4737.js" crossorigin="anonymous"></script>
</body>
</html>